/*Load the BadaBoom font from the project directory, and apply it to used by the font-family 'BadaBoom BB'*/
@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/BADABB_.TTF');
}

body {
    /*overflow-y: scroll;
    overflow-x: scroll;/*
    -webkit-user-select: none; /* Chrome all / Safari all */
    -webkit-overflow-scrolling: touch;
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px black;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    background: url('../images/skyline.png') no-repeat fixed center;
    background-size: cover;
}

.body-content {
    padding-top: 50px;
}

label {
    text-shadow: 1px 1px black;
}

/*Navbar styling*/
.navbar-header {
    background-color: #0052a5;
    color: white;
}

.navbar-brand {
    color: white;
    text-shadow: 1px 1px black;
}

.navbar {
    background-color: #0052a5;
    color: white;
}

.navbar a{
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
    text-shadow: 1px 1px black;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    text-shadow: 1px 1px black;
}

.navbar-toggle {
    background-color: #ed3236;
}

.navbar-toggle:hover {
        background-color: #ed3236;
    }

.navbar-toggle:focus {
        background-color: #ed3236;
    }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ffff00;
}

    .navbar-default .navbar-toggle .icon-bar:hover {
        background-color: #ed3236; /* Changes toggle color on hover */
    }




    .navbar-inverse .navbar-nav > li > a:hover {
        color:#ed3236;
    }







.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

#collapsedDivider{
    border-top: 2px solid black;
}

/* Classes used to add Badaboom Font and related styling*/
.badaboomIfy {
    font-family: 'BadaBoom BB';
}

.badaboomIfyCenter {
    font-family: 'BadaBoom BB';
    text-align: center;
}

.titlePageText {

    font-family: 'BadaBoom BB';
    border-bottom: 1px solid #ffff00;
    text-align: center;
    padding-bottom: 10px;

}

#heroBrand {
    font-family: 'BadaBoom BB';
}


