

hr
{
    border:0;
}

#splashBody {
    position: relative;
    height: 100vh;
    width: 100%;
    /*background: url('../images/splash.png') no-repeat center center;*/
    /*background-size: cover;*/
    /* Workaround for some mobile browsers */
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

#splashBody .btn{
    position:relative;
    width:100%;
    margin:auto;
    max-width: 300px;
}

#loginBtnRow {
    position: relative;
    width: 100%;
    margin: auto;
    top: -150px;
    /*max-width: 300px;*/
}

#createAccountBtnRow {
    position: relative;
    width: 100%;
    margin: auto;
    top: -150px;
    /*max-width: 300px;*/
}

#loginButton {
    background-color: #0052a5;
    color: white;
    text-shadow: 1px 1px black;
}

#createAccountButton {
    color: white;
    background-color: #ffff00;
    text-shadow: 1px 1px black;
}


#loginButton:hover {
    background-color: #0052a5;
    color: #ed3236;
    text-shadow: 1px 1px black;
}

#createAccountButton:hover {
    color: #ed3236;
    background-color: #ffff00;
    text-shadow: 1px 1px black;
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    body {
        padding:0;
        margin:0;
        border:0;
    }

    #splashBody {
        position: absolute;
        left:0px;
        align-content:center;
    }


}

@media screen 
    and (max-width: 767px)
    and (orientation: landcape)
{
    /* Hide captions */
    body {
        overflow-y: scroll;
    }

}