@{
    ViewData["Title"] = "Profile";
    ViewBag.isHome = false;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar-brand navbar-right">
            Hi, @User.Identity.Name

        </div>
    }
</p>
